* {
	margin: 0; padding: 0; 
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body {
    font-size: 1rem;
    line-height: 1.5;
}

html {
	scroll-behavior: smooth;
}

/*Global*/
h1 {
	font-size: 3.5em;
	line-height: 2.0em;
}
h2 {
	font-weight: bold;
	font-size: 3.0em;
	padding-bottom: 45px;
}
h3 {
	font-size: 2.5em;
}
.divider {
	width: 80%;
	margin: 0 auto;
}
.image-circle {
	border-radius: 50%;
}
.client-image {
	width: 200px;
}
.contact-info {
	background-color: grey;
	padding: 20px 0;
}
	.contact-info .contact-item {
		padding: 10px;
	}
		.contact-info .contact-item a {
			color: white;
		}
		.contact-info .contact-item a:hover,
		.contact-info .contact-item a:focus,
		.contact-info .contact-item a:active {
			color: #48c9f9;
			text-decoration: none;
		}
		.contact-info .contact-item a:hover span,
		.contact-info .contact-item a:focus span,
		.contact-info .contact-item a:active span {
			text-decoration: underline;
		}
	
.carousel-control-prev, .carousel-control-next {
	color: black;
}

section {
	padding: 75px 0; 
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding: 15px 25px;
	font-weight: bold;
	letter-spacing: 1.5px;
	font-family: 'Montserrat', sans-serif;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
	background-color: #48c9f9; /* light blue color */
}
.navbar-dark .navbar-brand {
	width: 70%;
	margin-right: 0px;
}
.navbar-dark button {
	max-width: 53px;
	min-width: 53px;

}
.button-link {
	background-color: #48c9f9; /* light blue color */
	border-radius: 0;
	color: #000000;
	font-size: 22px;
	padding: 12px 40px 12px 40px;
	border: 4px solid #48c9f9; /* light blue color */
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.button-link:hover,
.button-link:focus,
.button-link:active {
	background-color: #ffffff;
	border: 4px solid #48c9f9; /* light blue color */
}
.second-link {
	background-color: grey;
	border-radius: 0;
	color: #000000;
	font-size: 22px;
	padding: 12px 40px 12px 40px;
	border: 4px solid grey; 
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.second-link:hover,
.second-link:focus,
.second-link:active {
	background-color: #ffffff;
	border: 4px solid grey; 
}


/* About */
#About {
	padding-bottom: 45px;
}
	#About img {
		margin-top: 35px;
		max-width: 250px;
		width: 100%;
	}

/* Experiences */
.experiences {
	background-color: #505050;
	color: white;
}
	.experiences h2 {
		color: #48c9f9;
	}
	.experiences .container {
		margin-left: auto;
		margin-right: auto;
		letter-spacing: 1px;
		line-height: 30px;
		font-size: 1.2rem;
	}


/* Client Work */
div.project-title {
	margin-left: auto;
	margin-right: auto;
	color: #e87206;
	margin-top: 30px;
}

div.project-row {
	margin-left: auto;
	margin-right: auto;
	padding: 45px 0;
}
	div.project-details {
		text-align: left;
		padding-top: 10px;
		margin: 0 10px;
	}
		.project-details .project-link {
			display: block;
			text-align: center;
			padding: 25px 0;
		}
		.project-details ul li {
			margin-left: 15px;
		}

	.project-row .project-img h3 {
		padding-bottom: 40px;
	}
	.project-row .project-img img {
		width: 100%;
		max-width: 400px;
		border: 5px solid #DDDDDD;
	}

/* Testimonials */
.testimonials, .personal-projects {
	background-color: #DDDDDD;
}
	.testimonials .container {
		margin-left: auto;
		margin-right: auto;
	}

	.t-details {
		width: 80%;
		margin: 0 auto;
	}
.testimonials .carousel-item img {
	max-width: 550px;
	margin: 0 auto;
}

/* Personal Projects */
.personal-projects .row {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}
.arrows {
	display: inline;
	width: 5%;
	height: 300px;
	padding: 0;
	font-size: 24px;
	text-align: center;
	position: relative;
}
.arrows:hover {
	cursor: pointer;
}
	.arrows span {
		display: inline-block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		width: 35px;
		height: 35px;
	}
	.arrows:hover span{
		cursor: pointer;
		box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

	}

.thumbnails {
	position: relative;
	overflow: hidden;
	height: 300px;
	width: 90%;
	margin: 0;
	display: inline-block;
}
	.slider {
		left: 0px;
		width: 4000px;
		height: 200px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: left 1s ease-in-out;
	}
		.slider li {
			position: relative;
			display: inline-block;
			float: left;
			margin: 0 10px;

		}
		.slider li:hover {
			box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
			/*transform: scale(1.2, 1.2);*/
			z-index: 1000;
			cursor: pointer;
		}
			.slider li:hover .proj-info {
				opacity: 1;
				height: 100%;
			}

			.proj-info {
				opacity: 0;
				overflow: hidden;
				height: 0px;
				width: 100%;
				background-color: #eeeeeedd;
				position: absolute;
				left: 0; right: 0;
				bottom: 0px;
				transition: .5s ease;
				margin: 0;
				color: black;
			}

/* Contact */
section.contact.container {
	max-width: 600px;
}
section.contact form, section.contact p,
section.contact form .button-link {
	margin-left: auto;
	margin-right: auto;
}
	section.contact form input {
		height: 60px;
		border-radius: 0;
	}
	section.contact form textarea {
		height: 120px;
		border-radius: 0;
	}


footer {
	background-color: #333;
	text-align: center;
	color: #FFF;
	clear: both;
	padding: 5px;
	border-top: solid 5px #99bddf;
}

footer a {
	color: #99bddf;
}



@media screen and (max-width: 991px) {
	div.project-row {
		width: 450px;
	}
	.project-even-sm {
		display: block;
	}
	.project-even-lg {
		display: none;
	}
}



@media screen and (max-width: 630px) {

	.arrows {
		display: none;
	}
	.thumbnails {
		width: 100%;
		overflow-x: scroll;
	}

	
	
}

@media screen and (max-width: 450px) {
	div.project-row {
		width: 100%;
	}
	h1 {
		font-size: 2.5em;
		line-height: 1.5em;
	}
	h2, h3 {
		font-size: 2em;
	}
	.navbar-brand img {
		width: 100%;
	}
	.experiences .container {
		font-size: 1rem;
	}
}